// Source: https://loading.io/css/
.loader {
	display: none;

	opacity: 1;

	&--open {
		display: block;

		opacity: 1;
	}

	.loader__spinner {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 2000;

		display: inline-block;
		width: 80px;
		height: 80px;

		transform: translate(-50%, -50%);
	}

	.loader__spinner div {
		position: absolute;
		top: 33px;

		width: 13px;
		height: 13px;

		background: #ffffff;
		border-radius: 50%;

		animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}

	.loader__spinner div:nth-child(1) {
		left: 8px;

		animation: loader1 0.6s infinite;
	}

	.loader__spinner div:nth-child(2) {
		left: 8px;

		animation: loader2 0.6s infinite;
	}

	.loader__spinner div:nth-child(3) {
		left: 32px;

		animation: loader2 0.6s infinite;
	}

	.loader__spinner div:nth-child(4) {
		left: 56px;

		animation: loader3 0.6s infinite;
	}
}

@keyframes loader1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes loader2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}

@keyframes loader3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

.fade-out {
	opacity: 0;

	transition: opacity 800ms ease-out;
}
