.login {
	display: flex;
	flex-direction: column;
	height: 100%; //fix safari flexbox height bug
	&__data-wrapper {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;

		@media (max-width: 450px) {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;

			font-size: 1.25em;
		}
	}

	&__avatar {
		flex-shrink: 0;
		max-width: 25%;

		@media (max-width: 450px) {
			max-width: 100%;

			.avatar {
				width: 120px;
				height: 120px;
			}
		}
	}

	&__info {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		min-width: 0;
		margin-bottom: 2.5em;
		margin-left: 60px;

		text-align: left;

		@media (max-width: 450px) {
			min-width: 80%;
			margin-top: 3em;
			margin-left: 0;
		}
	}

	&__locate-btn {
		position: absolute;
		top: 0;
		right: 0;

		display: inline-block;
		width: 1.5em;
		height: 2em;
		padding: 0.25em;

		font: inherit;
	}

	&__location {
		width: 100%;
		margin-bottom: 0;
		padding-right: 2em;

		&:disabled {
			opacity: 0.6;
			
			& + .login__locate-btn {
				display: none;
			}
		}
	}

	&__location-info {
		display: block;
		margin-top: 0.25em;
	}

	&__location-source {
		margin-top: 0;
	}
}
